@font-face {
    font-family: "Beleren-Bold";
    src: url('fonts/Beleren2016SmallCaps-Bold.ttf');
    src: url('fonts/Beleren2016SmallCaps-Bold.woff') format('woff');
}

@font-face {
    font-family: "Imprima";
    src: url('fonts/Imprima-Regular.ttf');
}

:root {
    --primary-color: #3A3335;
    --secondary-color: #F7EFE0;
    --tertiary-color: #EBE0D1;
    --font-primary-color: #F7EFE0;
    --font-secondary-color:#3A3335;
    --font-tertiary-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

<<<<<<< HEAD
=======
body {
    background-color: var(--secondary-color);
    font-family: "Beleren-Bold", sans-serif;
}
>>>>>>> 64d77678ebed20d532930a69b3db8c7813e846c9

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    min-height: 10vh;
}


h1 {
    font-size: 1rem;
}

h2 {
    font-size: .8rem;
}

body {
    background-color: var(--secondary-color);
}

a {
    text-decoration: none;
}

main {
    margin-left: 5%; /*collé au modèle Figma, mais peut-être à réadapter*/
    margin-right: 5%; /*collé au modèle Figma, mais peut-être à réadapter*/
    /*background-img: insérer le logo en fond*/
}

ul {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    list-style: none;
}

.li_logo {
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    border-radius: 15px;;
    width: 140px; /*voir si on garde une taille fixe*/
    height: 70px; /*voir si on garde une taille fixe*/
}

.li_text {
    display: none;
}

section {
    background: var(--secondary-color);
}


@media screen and (min-width: 1200px) {
    
    main {
        margin-left: 8%; /*collé au modèle Figma, mais peut-être à réadapter*/
        margin-right: 8%; /*collé au modèle Figma, mais peut-être à réadapter*/
        /*background-img: insérer le logo en fond*/
    }

    .li_logo {
       display: none;
    }

    .li_text {
        display: inline-block;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        border-radius: 15px;;
        width: 300px; /*à modifier + voir si on garde une taille fixe*/
        height: 70px; /*à modifier + voir si on garde une taille fixe*/
    }

}