@font-face {
    font-family: "Beleren-Bold";
    src: url('fonts/Beleren2016SmallCaps-Bold.ttf');
    src: url('fonts/Beleren2016SmallCaps-Bold.woff') format('woff');
}

@font-face {
    font-family: "Imprima";
    src: url('fonts/Imprima-Regular.ttf');
}

:root {
    --primary-color: #3A3335;
    --secondary-color: #F7EFE0;
    --text-color: #EBE0D1;
    --heading-font: "Beleren-Bold";
    --text-font: "Imprima";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-color);
    font-family: var(--text-font), sans-serif;
}

header {
    background-color: var(--primary-color);
    width: 100%;
    min-height: 70px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>img {
    width: clamp(60px, 30vw, 200px);
}

label>input {
    display: none;
}

label>img{
    width: clamp(30px, 4vw, 80px);
}

a {
    text-decoration: none;
}

main {
    margin: 0 1rem;
    background-color: var(--secondary-color);
}

ul {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    list-style: none;
}

button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    padding: 0.25rem;
    width: clamp(80px, 25vw, 300px);
    height: clamp(45px, 8vh, 60px);
}

button>p {
    display: none;
}

button>img {
    max-width: clamp(45px, 6vw, 150px);
    max-height: 100%;
}

@media screen and (min-width: 768px) {

    main {
        margin: 0 2rem;
        /*background-img: insérer le logo en fond*/
    }

    button>img {
        display: none;
    }

    button>p {
        display: inline-block;
        color: var(--secondary-color);
        border-radius: 15px;
        width: 300px;
        /*à modifier + voir si on garde une taille fixe*/
        height: 45px;
        /*à modifier + voir si on garde une taille fixe*/
    }

}