.zoomBlurBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: none;
    justify-content: center;
    align-items: center;
}

.blackBackground {
    width: 100%;
    height: 100%;
    padding: 3rem 1rem 1rem 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.zoomedCard {
    background-image: url('images/Background-card-Data.png');
    width: 220px;
    height: 350px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zoomedCardHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.zoomedCardName {
    margin-top: 1.2rem;
    margin-left: .2rem;
    color: #3A3335;
    /*à appeler "primary color" si on fusionne avec autre fichier css*/
    font-size: 12px;
    font-weight: bold;
    text-align: justify;
}

.zoomedCardLogo {
    width: .8rem;
    margin-top: 1.2rem;
}

.zoomedCardImgContainer {
    width: 100%;
    padding-top: .2rem;
}

.zoomedCardPicture {
    max-width: 100%;
    height: 9.5rem;
    object-fit: cover;
}

.zoomedCardInfo {
    width: 100%;
    max-height: 50%;
    gap: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socialLink {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.socialLink>a>img {
    width: 30px;
}

.closeButton {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}