.zoomBlurBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    display: none;
    justify-content: center;
    align-items: center;
}

.blackBackground {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 3rem 1rem 1rem 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.zoomedCard {
    width: 170px;
    height: 240px;
    padding: .5rem;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zoomedCardHeader {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.zoomedCardName {
    color: #3A3335;
    font-size: 12px;
    font-weight: bold;
    text-align: justify;
    padding-left: 8px;
}

.zoomedCardLogo {
    width: 12px;
    margin: 4px 4px;
}

.zoomedCardImgContainer {
    width: 100%;
    height: 45%;
    padding: 0 8px
}

.zoomedCardImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.zoomedCardInfo {
    max-width: 500px;
    max-height: 50%;
    gap: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.zoomedCardInfo>p {
    color: var(--text-color);
}

.socialLink {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.socialLink>a>img {
    width: 30px;
}

.closeButton {
    width: clamp(25px, 1.5vw, 50px);
    height: clamp(25px, 1.5vw, 50px);
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

@media screen and (min-width: 768px) {
    .zoomBlurBackground {
        padding: 5% 4rem;
    }

    .blackBackground {
        flex-direction: row;
        padding: 2rem;
        border-radius: 40px;
        box-shadow: 4px 4px 24px 4px;
    }

    .zoomedCard {
        width: 340px;
        height: 480px;
        padding: 1.5rem;
    }

    .zoomedCardHeader {
        width: 100%;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .zoomedCardLogo {
        width: 24px;
        margin: 4px 4px;
    }

    .zoomedCardImgContainer {
        width: 100%;
        height: 48%;
        padding: 0 8px;
    }

    .zoomedCardInfo {
        max-width: 50%;
        max-height: 100%;
        gap: 2rem;
    }
}